html{
    scroll-behavior: smooth
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    background-color: #111;
    color: white;
    padding: 20px 50px;
}
.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.search{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: gray;
    border-radius: 10px;
}
.SearchInput{
    border: none;
    background-color: transparent;
}
.SearchInput::placeholder{
    color: lightgray;
}
.limitedOffer{
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}
.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuItem{
    margin-right: 50px;
    cursor: pointer;
    font-weight: 400px;
    color: lightgray;
}

.slider{
    background: url("https:/source.unsplash.com/6a3nqQ1YwBw");
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); 
      overflow: hidden;
    
}
.sliderWrapper{
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}
.sliderItem{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sliderBg{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    /* background-color: yellow; */
    position:absolute;
}
.sliderImg{
    z-index: 1;
}
.sliderTitle{
    position: absolute;
    top: 10%;
    right: 10%;
    color: white;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    z-index: 1;
}
.sliderPrice{
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 1px solid gray;
    z-index: 1;
}
.buyButton{
    position: absolute;
    top: 50%;
    right: 10%;
    color: white;
    font-size: 30px;
    font-weight: 900;
    border: 1px solid gray;
    background-color: black;
    cursor: pointer;
    z-index: 1;
}
.buyButton:hover{
    color: black;
    background-color: white;
}
.sliderItem:nth-child(1) .sliderBg{
    background-color: rgb(123, 179, 123);
}
.sliderItem:nth-child(2) .sliderBg{
    background-color: rgb(95, 119, 145);
}
.sliderItem:nth-child(3) .sliderBg{
    background-color: rgb(142, 95, 142);
}
.sliderItem:nth-child(4) .sliderBg{
    background-color: rgb(128, 135, 128);
}
.sliderItem:nth-child(5) .sliderBg{
    background-color: rgb(69, 79, 79);
}

.sliderItem:nth-child(1) .sliderPrice{
      color: rgb(123, 179, 123);
}
.sliderItem:nth-child(2) .sliderPrice{
      color: rgb(95, 119, 145);
}
.sliderItem:nth-child(3) .sliderPrice{
      color: rgb(142, 95, 142);
}
.sliderItem:nth-child(4) .sliderPrice{
      color: rgb(128, 135, 128);
}
.sliderItem:nth-child(5) .sliderPrice{
      color: rgb(69, 79, 79);
}


.features{
display: flex;
align-items: center;
justify-content: space-between;
padding: 40px;

}
.feature{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}
.featureIcon{
    width: 50px;
    height: 50px;
}
.featureTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}
.featureDesc{
    color: gray;
    width: 50%;
    height: 100%;
}

.product{
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); 

}

.payment{
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;  
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;

}
.payTitle{
    font-size: 20px;
    color: lightgray;
}
label{
    font-size: 14px;
    font-weight: 300px;
}
.payInput{
padding: 10px;
margin: 10px 0px;
border: none;
border-bottom: 1px solid gray;
}
.payInput::placeholder{
    color: rgb(171, 168, 168);
}

.cardIcons{
    display: flex;
}
.cardIcon{
    margin-right: 10px;
}
.cardInfo{
    display: flex;
    justify-content: space-between;
}
.sm{
    width: 30%;
}

.payButton{
    position: absolute;
    height: 40px;
    bottom: -40px;
    width: 100%;
    left: 0;
    background-color: rgb(89, 152, 89);
    border: none;
    color: white;
    cursor: pointer;
}
.close{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: gray;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.productImage{
    width: 50%;
}
.productDetails{
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}
.productTitle{
    font-size: 75px;
    font-weight: 900;
}
.productDesc{
    font-style: 24px;
    color: gray;
}
.colors,.sizes{
    display: flex;
    margin-bottom: 20px;
}
.color{
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.color:last-child{
    background-color: darkblue;
}

.size{
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.productButton{
    float: right;
    padding:10px 20px;
    font-weight: 600;
    color: white;
    background-color: black;
    cursor: pointer;
}
.productButton:hover{
    color: black;
    background-color: white;
}

.gallery{
    padding: 50px;
    display: flex;
}
.galleryItem{
 flex: 1;
 padding: 50px;
}
.galleryImg{
    width: 100%;
}

.newSeason{
    display: flex;
}
.nsItem{
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.nsImg{
    width: 100%;
    height: 500px;
}
.nsTitle{
    font-size: 40px;
}
.nsButton{
    padding: 15px;
    font-weight: 600px;
    cursor: pointer;
}

footer{
    display: flex
}
.footerLeft{
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.fMenuTitle{
    font-size: 16px;
}

.fList{
    list-style: none;
    padding: 0;
}
.fListItem{
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
}
.footerRight{
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fInput{
    padding: 5px;
}
.fButton{
    padding: 5px;
    background-color:black;
    color: white;
    cursor: pointer;
}
.fIcons{
    display: flex;
}

.fIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.copyRight{
    font-weight: 300px;
    font-size: 14px;
}


@media screen and (max-width:480px){
  
nav{
    padding: 20px;
}

.search{
    display: none;
}

.navBottom{
    flex-wrap: wrap;
}

.menuItem{
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
}
.slider{
    clip-path: none;
}
.sliderImg{
    width: 90%;
}
.sliderBg{
    width: 100%;
    height: 100%;
}
.sliderTitle{
  display: none;  
}
.sliderPrice{
    top: unset;
    bottom: -50px;
    left: 0;
    background-color: lightgray;
}
.buyButton{
    top: 0;
    right: 0;
}
.features{
    flex-direction: column;
}
.product{
    clip-path: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productImage{
    width: 80%;
}
.productDetails{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
}
.productTitle{
    margin:0;
    font-size: 50px;
}
.gallery{
    display: none;
}
.newSeason{
    flex-direction: column;
}
.nsItem:nth-child(2){
    padding: 50px;
}
footer{
    flex-direction: column;
    align-items: center;
}
.footerLeft{
    padding: 20px;
    width: 90%;
}
.footerRight{
    padding: 20px;
    width: 90%;
    align-items: center;
    background-color: whitesmoke;
}
.payment{
    width: 90%;
    padding: 20px;
}
}